

1  24    "window_resources.manifest"
MAINICON ICON "window_resources.ico"

#include "Version.h"

#define VERSIONINT  PROJECT_MAJOR_VERSION,PROJECT_MINOR_VERSION,PROJECT_REVISION_VERSION,PROJECT_BUILD_VERSION
#define VERSIONSTR  PROJECT_VERSION_STR

1 VERSIONINFO
    FILEVERSION     VERSIONINT
    PRODUCTVERSION  VERSIONINT
    BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "develer-staff"
            VALUE "FileDescription", "cutecom-ng modified by HEYAHONG "
            VALUE "FileVersion", VERSIONSTR
            VALUE "InternalName", "cutecom-ng"
            VALUE "LegalCopyright", "GPL-3.0"
            VALUE "OriginalFilename", "cutecom-ng.exe"
            VALUE "ProductName", "cutecom-ng"
            VALUE "ProductVersion", VERSIONSTR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 2052, 1200
    END
END

